{% extends "incidencias/base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Bienvenido a la Gestión de Incidencias</h1>
    <p>Desde aquí podrás gestionar incidencias, empleados y dispositivos.</p>
</div>

{% if request.user.is_superuser %}
    {% if nuevas_incidencias > 0 %}
        <div class="alert alert-warning">Tienes {{ nuevas_incidencias }} incidencias nuevas.</div>
    {% else %}
        <div class="alert alert-success">No hay incidencias nuevas.</div>
    {% endif %}
{% endif %}

{% endblock %}
