{% extends 'incidencias/base.html' %}
{% block title %}Modificar Incidencia{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <h2 class="text-primary mb-4">Modificar incidencia</h2>

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="estado">Estado</label>
            {{ form.estado }}
        </div>
        <div class="mb-3">
            <label for="observaciones">Observaciones (medidas correctivas)</label>
            {{ form.observaciones }}
        </div>

        <div class="text-center mt-4">
            <button type="submit" class="btn btn-success px-5">Guardar cambios</button>
            <a href="{% url 'listar_incidencias' %}" class="btn btn-secondary ms-3">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
